*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #596b7e;
    display: flex;           
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 20px;
}

.konten{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    background-color:#2a3746;
    border-radius: 10px;
    box-shadow: inset 1px 10px 7px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 90%;
    max-width: 500px;
}

.lyrics{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(168, 178, 186);
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    min-height: 150px;
    color: #333;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: inherit;
    margin-top: 15px;
    text-align: center;
    width: 100%;
}

input[type="text"]{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px;
    cursor: pointer;
    background-color: #c45252;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

#status {
    color: white;
    text-align: center;
}