*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #293e57;
    min-height: 100vh;
    overflow: hidden; 
    display: flex;           /* Mengaktifkan mode flex pada body */
    justify-content: center; 
    align-items: center;
    margin: 0;               /* Menghilangkan jarak bawaan browser */
}

.konten{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    background-color:#264365;
    border-radius: 10px;
    color: aquamarine;
    box-shadow: inset 1px 10px 10px rgba(0, 0, 0);
    padding: 20px;
    width: 20%;
}

input[type="text"]{
    width: 80%;              /* Mengambil 80% lebar dari kotak hitam */
    max-width: 300px;        /* Tapi jangan lebih lebar dari 300px */
    margin: 0 auto;
}