<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Downloader Youtube</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='wow.css') }}">
</head>
<body>
    <div class="konten">
        <input type="text" id="url" placeholder="Paste Link Youtube di Sini">
        <button onclick="KirimData()">Download MP3</button>
        <p id="status"></p>
    </div>

    <div class="lyrics">
        <h3>Lirik Lagu</h3>
        <pre id="lirik-box">Lirik akan muncul di sini setelah download...</pre>
    </div>

    <script src="{{ url_for('static', filename='API.js') }}"></script>
</body>
</html>